body {
    background-image: url(Object.png);
    padding: 63px 0px 100px 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: local;
}



.top-bar{
    display: flex;
    flex-direction:row;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
    margin-left: 210px;
    margin-right: 210px;
}

.nav-link {
    display:flex;
    flex-direction: row;
    gap:100px;
    list-style: none;
}

.header-link {
    color:white;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    font-family:sans-serif;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin-bottom: 150px;
    margin-top: 250px;
}


.h1 {
    text-align:center;
    font-weight: bold;
    font-size: 120px;
    font-family: sans-serif;
    color:white;
}

.sub-h1 {
    color:white;
    margin-bottom: 70px;
}

.register-button {
    color:white;
    background-color:#C271FF;
    border:#979797;
    padding:20px 30px 20px 30px;
    border-radius: 40px;
    box-shadow: 0px 10px 35px rgba(0,0,0,5);
    cursor: pointer;
    font-size: 25px;
}

.learn {
    text-align: center;
    color: white;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 50px;
}

.pros-profile {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display:flex;
    flex-direction: row;
    gap: 300px;
}

.second-section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: #C271FF;
    align-items: center;
    padding: 100px 60px 100px 60px;
    justify-content: center;
    height: 400px;
}

.sub-second-section {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.third-section {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    margin-top: 80px;
}

.sub-third-section2 {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 150px;
}


